<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KNDefectMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ShowXountNum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ShowXountNum.Properties.Settings.mysqlConnString" connectionString="server=172.26.91.220;User Id=gmsys;Persist Security Info=True;database=gmsys;password=gmsys"/>
        <add name="ShowXountNum.Properties.Settings.oracleConnString" connectionString="Data Source=TWOR1.wus.com.tw;User ID=jmpsys;Password=jmpsys;Unicode=True" providerName="System.Data.OracleClient"/>
        <add name="KNDefectMap.Properties.Settings.mysqlConnString" connectionString="server=172.26.91.220;User Id=gmsys;Persist Security Info=True;database=gmsys;password=gmsys"/>
    </connectionStrings>
    <userSettings>
        <KNDefectMap.Properties.Settings>
            <setting name="specifyDefectCodes" serializeAs="String">
                <value/>
            </setting>
            <setting name="ShowSPNL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowSideB" serializeAs="String">
                <value>True</value>
            </setting>
        </KNDefectMap.Properties.Settings>
        <ShowXountNum.Properties.Settings>
            <setting name="FakeImageDir" serializeAs="String">
                <value>\\172.26.61.127\GVIProfile\profile</value>
            </setting>
        </ShowXountNum.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
